body,
html {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(211, 200, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberBaseball-box {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  border: 5px solid blue;
  padding: 60px;
  border-radius: 40px;
}

.numberBaseballLine {
  display: flex;
  flex-direction: row;
}

.inputBox {
  padding: 20px 50px 20px 0;
}

.Btn-click {
  cursor: pointer;
}
