body,
html {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  background-color: #bfcfdf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-box {
  background-color: #808e9b;
  -webkit-box-shadow: inset -10px -10px 26px 11px rgba(53, 80, 115, 1);
  -moz-box-shadow: inset -10px -10px 26px 11px rgba(53, 80, 115, 1);
  box-shadow: inset -10px -10px 26px 11px rgba(53, 80, 115, 1);
  padding: 40px 40px 40px 40px;
  border-radius: 40px;
  width: 380px;
}

.calOutShadow {
  border-radius: 40px;
  -webkit-box-shadow: 15px 16px 33px 15px rgba(53, 80, 115, 0.64);
  -moz-box-shadow: 15px 16px 33px 15px rgba(53, 80, 115, 0.64);
  box-shadow: 15px 16px 33px 15px rgba(53, 80, 115, 0.64);
}

#calculatorInput {
  background-color: #d2dae2;
  border-radius: 30px;
  width: 340px;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 30px;
}

button {
  background-color: #f1f2f6;
  -webkit-box-shadow: inset -13px -10px 38px 10px rgba(142, 161, 189, 1);
  -moz-box-shadow: inset -13px -10px 38px 10px rgba(142, 161, 189, 1);
  box-shadow: inset -13px -10px 38px 10px rgba(142, 161, 189, 1);
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 70px;
  border-radius: 20px;
}

.zero {
  width: 350px;
}

.resultBtn-click {
  cursor: pointer;
}

#result {
  margin-top: 20px;
}
