body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-direction: column; */
}

#resultArr {
  display: flex;
}

.WinNumTitle,
.bonusTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resultArr .size {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

#result {
  width: 430px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ball {
  display: inline-block;
  border: 3px solid black;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  line-height: 40px;
  font-size: 25px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bonus {
  width: 50px;
  margin-top: 10px;
}

#restartMessage {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
  margin-bottom: 30px;
}

.startButton,
.clearButton {
  margin: 10px;
  cursor: pointer;
}

#inputExcluded,
#inputIncluded,
#inputExcluded3,
#inputExcluded4 {
  margin: 10px;
  width: 350px;
  height: 30px;
}
