body,
html {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(211, 200, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calculator-box {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  border: 5px solid blue;
  padding: 60px;
  border-radius: 40px;
}

.CalculatorLine {
  display: flex;
  flex-direction: row;
}

.inputBox {
  padding: 20px 50px 20px 0;
}

button {
  width: 40px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
}
.resultBtn-click {
  cursor: pointer;
}

#result {
  margin-top: 20px;
}
